@page "/basic"
@using System
@using NXKit.AspNetCore.Components

<h1>Sample</h1>

@* this form allow user input into the input control, seems it does not have any events like other forms do*@
<NXView DocumentUri="@(new Uri("nx-example:///basic.xml"))" />
