@page "/insert"
@using System
@using NXKit.AspNetCore.Components

<h1>Sample</h1>

@* Does not allow input into the field, insert and delete throw exceptions *@
<NXView DocumentUri="@(new Uri("nx-example:///insert.xml"))" />

