@page "/select1"
@using System
@using NXKit.AspNetCore.Components

<h1>Sample</h1>

@* dropdown does not seem to have any values to select *@
<NXView DocumentUri="@(new Uri("nx-example:///select1.xml"))" />

