@page "/submit"
@using System
@using NXKit.AspNetCore.Components

<h1>Sample</h1>

@* Allows input but submit does not seem to work *@
<NXView DocumentUri="@(new Uri("nx-example:///submit.xml"))" />

